.label-box > .image-box
{
  margin-right: 5px;
}

.vertical-label-box > .image-box
{
  margin-bottom: 5px;
}

.slider-box
{
  min-width: 200px;
  padding: 3px 0;
}

.slider-details-box > StLabel
{
  margin: 0 0 8px 0;
}

.slider-details-box > StIcon
{
  margin: 0 6px 8px 0;
}